body {
    font-family: "Inter", sans-serif;
    font-style: normal;

}

.button {
    font-weight: light;
    font-size: 15px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.3px;
    color: #FF7171;
}

.card {
    border: transparent;
    position: relative;
    text-align: center;
    align-items: center;
}

.card .card-stuff {
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #3A5059;
    font-weight: light;
    font-size: 15px;
    text-align: center;
    align-items: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.media {
    margin: 0, 10px;
    padding: 20px;
    background: transparent;
    border-style: solid;
    border-width: thin;
    border-color: #3A5059;
    font-family: "Inter", sans-serif;
    font-weight: lighter; 
    font-size: 15px; 
}

.media-heading {
    font-family: "Inter", sans-serif;
    font-size: 18px; 
    color: #FF7171;
}

.media .button {
    font-weight: light;
    font-size: 30px;
    color: #FF7171;
}

.jumbotron {
    margin: 0;
    padding: 27px;
    background: transparent;
    font-size: 20px;
}

.jumbotron h2{
    font-family: "Inter", sans-serif;
    font-weight: lighter; 
    color: #3A5059;
}

.jumbotron h4{
    font-family: "Inter", sans-serif;
    font-weight: lighter; 
    color: #3A5059;
}

.navbar-custom {
    background: transparent;
    height: 63px;
    margin: 15px 0px 0px 10px; 
}

.navbar-toggler {
    background: transparent;
    border-color: black; 
}

.navbar a {
    color: #FF7171;
    font-size: 14px; 
}

.navbar .navbar-nav .active a {
    color: #3A5059; 
}

.row-content {
    margin: 40px;
    padding: 0px, 20px;
}

.row-content h2, h3, h4 {
    font-family: "Inter", sans-serif;
    font-weight: lighter; 
}

.site-footer {
    background-color: white;
    margin: 0 0 0 0;
    padding: 30px 0px 0px 0px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: black;
    text-align: center; 
}

.site-footer .list-unstyled a {
    color: #989898; 
}

.site-footer .btn-custom {
    background-color: white;
    border-color: #989898;
    color: #FF7171; 
}

.site-footer .form-custom {
    border-color: #989898; 
}